.card {
   display: flex;
   flex-direction: column;
   width: 200px;
   height: 400px;
   margin: 5px;
   background-color: #fff;
   transition: .3s all;
   padding: 7px;
   border-radius: 5px;
   justify-content: space-around;
}

.card:hover {
   background-color: rgb(110 216 150);
}

.card img{
   width: 100%;
   max-width: 250px;
   max-height: 300px;
}

.card-info {
   padding-left: 20px;
}

.card-info span {
   font-weight: 600;
}

